
    :host {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 50px;
    }
    
    input[type="checkbox"] {
      display: none; 
    }

    /* The circle inside the toggle button. It works with the hidden checkbox. */
    .toggle-button-switch {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 46px;
      height: 46px;
      background-color: #fff;
      border-radius: 100%;
      cursor: pointer;
      transition: left 0.3s;
    }

    /* background of toggle button */
    .toggle-button-text {
      overflow: hidden;
      background-color: #3dbf87;
      border-radius: 25px;
      box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
      transition: background-color 0.3s;
    }

    /* Text on toggle button */
    .toggle-button-text-on,
    .toggle-button-text-off {
      float: left;
      width: 50%;
      height: 100%;
      line-height: 50px;
      font-family: Lato, sans-serif;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }

    /* If the checkbox is checked, move the circle inside the toggle button 52px to the right */
    input[type="checkbox"]:checked ~ .toggle-button-switch {
      left: 52px;
    }

    /* Change background color of toggle button when checkbox is checked */
    input[type="checkbox"]:checked ~ .toggle-button-text {
      background-color: #fc3164 ;
    }
  