h2 {
    text-align: center;
    background-color: rgb(73, 64, 55);
    color: rgb(233, 237, 241);
    padding: 3px;
    
}

p {    
    text-align: center;
}

.d-code {
    text-align: justify;
       
}
.c-code{
    min-height: 44px;
    font-size: 25px;
    font-weight: 500;
}

.s-code{
    text-align: justify;
}

#botton {
    position: fixed;
    left: 0;
    bottom: 0;
    /* width: 99.8%; */
    text-align: center;
    align-items: center;
    background-color: rgb(226, 224, 220) !important;
    /* border-top-left-radius: 20%;
    border-top-right-radius: 20%; */
}

#botton h1 {
    background-color: rgb(73, 64, 55);
    color: rgb(233, 237, 241);
    padding: 5px;
    margin: 5px;
}

