<section class="base container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Flight Simulator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Help
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">FAQ</a></li>
                <li><a class="dropdown-item" href="#">Support</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Documentation</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <article class="row">
        <div id="principal" class="col-md-6" class="my-3">
          <div class="mb-3">
            <label for="textarea" class="form-label">Simulation Code</label>
            <textarea class="form-control" id="textarea" rows="3" readonly>{{message}}</textarea>
          </div>
        </div>

      </article>

    </section>
  </main>
  <footer>
    <section id="botton" class="row">
      <article class="row">
        <div class="col-md-12">
          <h1>CONTROL PANEL</h1>
        </div>

      </article>
      <article class="row">

        <div class="col-md-12 center">
          <button type="button" class="btn btn-success" (click)="start()">Start</button>
          <button type="button" class="btn btn-danger" (click)="stop()">Stop</button>
          <!-- <toggle-button (changed)="checked=$event"></toggle-button> -->
        </div>

      </article>
      <!-- <article class="row">
        <div class="col-md-12">
          <p>The simulation is {{checked ? 'Running' : 'OFF'}}.</p>
        </div>

      </article> -->
    </section>
  </footer>
</section>