<section class="container-fluid base">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Flight Simulator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Help
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" target="_blank" href="https://github.com/zeta44/flight-simulator#readme">FAQ</a></li>
                <li><a class="dropdown-item" target="_blank" href="https://github.com/zeta44/flight-simulator#readme">Support</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" target="_blank" href="https://github.com/zeta44/flight-simulator#readme">Documentation</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section id="settings">
      <article class="row mb-3">

        <div class="col-md-6 ">
          <div class="border p-3">
            <div>
              <h2>
                Configurations
              </h2>
            </div>

            <div class="form-check">
              <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDisabled"
                [checked]="forceEngineFailure" (change)="forceEngineFailureChange()" />
              <label class="form-check-label" for="flexCheckDisabled"> Force Engine Failure </label>
            </div>
            <div class="form-check">
              <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled"
                [checked]="forceFuelFailure" (change)="forceFuelFailureChange()" />
              <label class="form-check-label" for="flexCheckCheckedDisabled">
                Force Fuel Failure
              </label>
            </div>

          </div>


        </div>
        <div class="col-md-6">
          <div class="border p-3">
            <h2>Simulation Code</h2>
            <div class="c-code">
              <p>
                {{message_code}}
              </p>
            </div>
          </div>
        </div>
      </article>

    </section>
    <section id="principal">
      <article class="row d-flex justify-content-between">
        <div class="col-md-6">
          <div class="border p-3">
            <h2>Simulation Logs</h2>
            <div class="s-code" [innerText]="message_status"></div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="border p-3">
            <h2>Code Description</h2>
            <h4>{{message_title}}</h4>
            <div>
              <div class="d-code">
                {{message_description}}
              </div>
            </div>
          </div>
       </div>

      </article>

    </section>
  </main>
</section>
<footer>
  <section class="container-fluid" id="botton">
    <article class="row">
      <div class="col-md-12">
        <h1>CONTROL PANEL</h1>
      </div>

    </article>
    <article class="row">
      <div class="col-md-12 center">
        <button type="button" class="btn btn-success my-3 mx-3" (click)="start()"
          [disabled]="desableStartButton">Start</button>
        <button type="button" class="btn btn-danger" (click)="stop()" [disabled]="desableStopButton">Stop</button>
      </div>
    </article>
  </section>
</footer>